<template>
    <div>
        <input id="ipt" type="number" placeholder="Digite o Número">
        <button v-on:click="calcular()" class="btn btn-primary">Calcular</button>
        <p id="res">Seu Resultado Aparecerá aqui</p>

        <a href="/">Voltar para o Menu Inicial</a>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        name: 'Fatorial',
        methods: {
            calcular: () => {
                let input = document.getElementById('ipt').value;
                let res = document.getElementById('res');

                if (input <= 0) {
                    res.innerHTML = "Digite um Valor Inteiro Positivo!";
                    return;
                }

                let total = 1;
                while (input > 1) {
                    total *= input;
                    input--;
                }

                res.innerHTML = total;
            }
        }
    }
</script>

<style scoped>

</style>