<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <a href="/#/fatorial">Fatorial</a>
    <a href="/#/potencia2">Potencia de 2</a>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      msg: 'Selecione a Operação desejada'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
