<template>
    <div>
        <input id="ipt" type="number" placeholder="Digite o Número">
        <button v-on:click="calcular()" class="btn btn-primary">Calcular</button>
        <p id="res">Seu Resultado Aparecerá aqui</p>

        <a href="/">Voltar para o Menu Inicial</a>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        name: 'Fatorial',
        methods: {
            calcular: () => {
                let input = document.getElementById('ipt').value;
                let res = document.getElementById('res');

                let total = 1;
                if (input < 0) {
                    total /= 1 << (input*-1)
                } else {
                    total = 1 << input;
                }

                res.innerHTML = total;
            }
        }
    }
</script>

<style scoped>

</style>